@using WebSiteBanHang.Models;

@*Chuyển IEnumerable thành List*@
@model List<itemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model.Count <= 0 || Model == null)
{
    <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG RỖNG</h1>
}
else
{
    <div class="col-md-9 product1">
        <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG</h1>
        <table class="table">
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>Hình ảnh</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" style="width:50px;height:50px" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##") đồng</td>
                    <td>@item.ThanhTien.ToString("#,##") đồng</td>
                    @*Truyền tham số MaSP --- Tạo nút sửa link qua trang SuaGioHang*@
                    <td>
                        @Html.ActionLink("Sửa", "SuaGioHang", new { @maSP = item.MaSP })
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @maSP = item.MaSP })
                    </td>
                </tr>
            }
        </table>


        @using (Html.BeginForm("DatHang", "GioHang"))
        {
        if (Session["TaiKhoan"] == null)
        {
        <div class="ThongTinMuaHang">
            <table align="center" class="table">
                <tr>
                    <td align="center">Thông tin khách hàng</td>

                </tr>
                <tr>
                    <td>Họ tên</td>
                    <td>
                        @Html.TextBox("TenKH")
                        <p style="color:red" id="TB_TenKH"></p>
                    </td>

                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td>
                        @Html.TextArea("DiaChi")
                        <span style="color:red" id="TB_DiaChi"></span>
                    </td>

                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        @Html.TextBox("Email")
                        <p style="color:red" id="ktEmail"></p>
                    </td>
                </tr>
                <tr>
                    <td>Số điện thoại</td>
                    <td>
                        @Html.TextBox("SoDienThoai")
                        <p style="color:red" id="TB_SoDienThoai"></p>
                    </td>
                </tr>
            </table>
        </div>
        <script>
            $("#btnnDatHang").click(function () {
                var loi = 0;
                if ($("#TenKH").val() == "") {
                    $("#TB_TenKH").text("Tên khách hàng không được bỏ trống")
                    return false; // ngăn sự kiện submit tới server
                }
                else {
                    loi++;
                    $("#TB_TenKH").text("");
                }

                if ($("#DiaChi").val() == "") {
                    $("#TB_DiaChi").text("Địa chỉ không được bỏ trống")
                    return false; // ngăn sự kiện submit tới server
                }
                else {
                    loi++;
                    $("#TB_DiaChi").text("");
                }

                if ($("#SoDienThoai").val() == "") {
                    $("#SoDienThoai").text("Số điện thoại không được bỏ trống")
                    return false; // ngăn sự kiện submit tới server
                }
                else {
                    loi++;
                    $("#TB_DiaChi").text("");
                }


                if (loi != 0) {
                    return false;
                }
            });
        </script>
        }


        <div class="col-md-9 divDatHang" style="text-align:left">
            <input type="submit" value="Đặt hàng" id="btnnDatHang" />
            @Html.ActionLink("Mua tiếp", "Index", "Home")
        </div>
        }
    </div>
}