@using WebSiteBanHang.Models;

@*Chuyển IEnumerable thành List*@
@model List<itemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model.Count == 0)
{
    <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG RỖNG</h1>
}
else
{
    <h1 style="color:red;text-align:center;font-weight:bold">GIỎ HÀNG</h1>
    <div class="col-md-9">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaSP</td>
                            <td>@item.TenSP</td>
                            <td>@item.TenSP</td>
                            @*<td><img src="@Url.Content("~Content/HinhAnhSP/" + item.HinhAnh)" style="width:50px;height:50px"/></td>*@
                            <td>@item.SoLuong</td>
                            <td>@item.DonGia.ToString("#,##") đồng</td>
                            <td>@item.ThanhTien.ToString("#,##") đồng</td>
                        </tr>
                    }
                </tbody>
            </table>
        <table class="table">
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>Hình ảnh</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" style="width:50px;height:50px" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##") đồng</td>
                    <td>@item.ThanhTien.ToString("#,##") đồng</td>
                </tr>
            }
        </table>
        </div>
}

